/*---------------------------Colors--------------------------------------------
Forest Green--------#228b22
Medium Aquamarine---#66cdaa, rgb(102,205,170)
Orange Text Glow----#f87
Midnight Blue-------#191970
Indigo--------------#4b0082
-----------------------------------------------------------------------------*/

/*===================Main Body Styling=======================================*/
body {
	background-image: url(../images/broom.jpg); /*Set background for the site*/
	background-repeat: repeat; /*make background image repeat on all axes*/
	background-attachment:scroll; /*make background scroll*/
	overflow: auto; /*make any overflow scroll*/
	max-width: 1024px; /*set maximum width of the body*/
	margin: 0 auto; /*set the top and bottom margin to 0 and the right and left to auto*/
	}
	
/*====================Take text decoration off of all link elements===========
                      And take styling off all lists=========================*/
a {
	text-decoration: none;
	}
	
ul {
	list-style-type: none;
	}
	
/*=================Header Styling Elements===================================*/
header {
	background-image: url(../images/card-background.jpg); /*Set background for the header*/
	background-repeat: repeat-x; /*make header background repeat on x-axis if necessary*/
	margin-top: 1.953125%; /*set header top margin to 15px in percent for scaling*/
	margin-left: auto; /*declaring a left & right margin of auto centers the header box*/
	margin-right: auto; /*declaring a left & right margin of auto centers the header box*/
	width: 90%; /*set width of the header to 90% of the entire screen which is 921.6px*/
	border-radius: 15px;
	}
	
header img { /*set even sides for display of both escape hatch logos */
	margin: 1.085069444444% 1.085069444444% 0; /*10px/921.6px,  10px/921.6px 0;*/
	width: 16.276041666667%; /* 150px / 921.6px */
	opacity: .6;
	/*-----------------The following makes the logos spin when hovered over-----------*/
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition: all 0.5s ease out;
	transition:all 0.5s ease-out;
	}
	
header img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	}
	
header h1 { /*get the name of the business to evenly display in the middle of the logos*/
	margin-left: 9.223090277778%; /* 85px / 921.6px */
	margin-right: 9.223090277778%; /* 85px / 921.6px */
	margin-top: 5.425347222222%; /* 50px / 921.6px */
	font-family: 'Eagle Lake', cursive, sans-serif;
	font-size: 2em;
	}
	
h1 a { /*set the text color and a glowing shadow on the business name*/
	color: #191970;
	text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87; /*apply the same text shadow 4 times to make the title seem like it is lit up*/
	}
	
h1 a:hover{
	color: black;
	}
	
#slogan, #phone { /*set the slogan and phone number to appear in the center under the business name*/
	color: #191970;
	font-weight: bolder;
	text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87; /*apply the same text shadow 4 times to make the title seem like it is lit up*/
	text-align: center;
	margin-left: -5.425347222222%; /* 50px / 921.6px */;
	font-family: 'Eagle Lake', cursive, sans-serif;
	font-size: 1.2em;
	}
	
	
        /*-------------Make logos display on either side of site heading----------*/	
header img, h1 {
	float: left;
	}
	
        /*-------------Make slogan, phone, and nav display under logos and head-----*/
        
#slogan, #phone, nav {
	clear: both;
	}
	
#phone {
	padding-bottom: 1.085069444444%; /* 10px / 921.6px */
	}
	
		/*--------------Make image gallery and things under display under the header----------------*/
		
#images, article, section, aside  {
	clear: both;
	}
	
/*===========================Set up the navigation bar===============================*/

nav { /* clear nav floats and set margins and padding*/
	clear: both;
	padding-bottom: 1.085069444444%; /* 10px / 921.6px */
	margin-top: -1.085069444444%; /* 10px / 921.6px */
	}
	
nav ul { /*set nav width, background, etc.*/
	width: 70%; /*70% of 921.6px is 645.12*/
	background-color: rgba(102, 205, 170, .7);
	margin: 0 auto;
	border-radius: 15px;
	overflow: hidden;
	margin: 0 auto;
	}
	
nav li { /*set text style, size, and nav element setup*/
	float: left;
	margin: 0 3.875248015873%; /* 25px / 645.12px */
	font-family: 'Eagle Lake', cursive, sans-serif;
	font-size: 1em;
	font-weight: bolder;
	}
	
nav a { /*set link elements*/
	display: block;
	line-height: 1.875em; /* 30px / 16px */
	color: #191970;
	text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87; /*apply the same text shadow 4 times to make the title seem like it is lit up*/
	}
	
nav a:hover { /*set hover highlights*/
	color: black;
	background-color: purple;
	}
	
/*=============================Set up image gallery================================*/

div {
	width: 90% /* 90% of 1024 is 921.6px */;
	}
	
div li	{ /*make gallery images display next to each other*/
	float: left;
	padding: 1.085069444444%; /* 10px / 921.6px */
	margin-bottom: 2.170138888889%; /* 20px / 921.6px */
	border-radius: 15px;
	background-color: rgba(102, 205, 170, .7);
	width: 17.361111111111%; /* 160px / 921.6px */
	}
	
div img {
	max-width: 100%;
	}
	
div ul { /*set a margin to put the image gallery in the center of the page*/
	margin-left: 9.223090277778%; /* 85px / 921.6px */
	}
/*============================Set up text elements for all pages====================*/

article, section, aside { /*background color, text defining, margins, etc */
	background-color: rgba(102, 205, 170, .7);
	width: 90%; /*90% of 1024 is 921.6px*/
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bolder;
	color: #191970;
	padding: 0.542534722222%; /* 5px / 921.6px */
	font-family: 'Eagle Lake', cursive, sans-serif;
	padding-bottom: 0;
	border: dotted;
	}
	
article { /* make a 3 column layout on home page */
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
	column-gap: 10px;
	text-align: left;
	}
	
article em { /* make the italicized text stand out a little more*/
	color: purple;
	}
	
footer { /*clear footer so that it doesn't float next to cta boxes*/
	clear: both;
	}
	
h2 {
	text-decoration: underline;
	color: red;
	font-size: 1.6em;
	}

section li {
	margin-left: 32.552083333333%; /* 300px / 921.6px */
	text-align: justify;
	display: list-item; 
	list-style-image: url(../images/flower.png); 
	list-style-position: outside;
	font-size: 1.3em;
	}
	
a {
	color: #f00;
	}
	
a:hover {
	color: black;
	}
	
/*==========================DEVON......SET THE TABLES!!!!===========================*/
table, tr, td, th, caption {
	border: solid;
	border-collapse: collapse;
	background: rgba(208,208,208,0.25)
	}
		
caption {
	border-bottom: none;
	}
	
th {
	border-color: #f87;
	font-size: 1.2em;
	border-radius: 15px;
	}
	
td {
	font-weight: normal;
	border-color: #f87;
	}
	
caption {
	font-size: 1.5em;
	border-color: #f87;
	text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87, 0 0 0.2em #F87; /*apply the same text shadow 4 times to make the title seem like it is lit up*/
	}
		
/*==========================Set up the contact form================================*/
#contact {
	font-family: 'Eagle Lake', cursive, sans-serif;
	color: #191970;
	font-weight: bolder;
	font-size: 1em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.170138888889%; /* 20px / 921.6px */
	background-color: rgba(102, 205, 170, .8);
	border-radius: 15px;
	border: dotted;
	padding: 0.5%;
	}
	
h5, #qh {
	font-weight: bolder;
	}
	
#service {
	margin-left: 57%;
	margin-bottom: 2%;
	}

legend {
	text-align: center;
	color: red;
	}

input:focus, textarea:focus {
	background: yellow;
	}
	
input {
	border-radius: 15px;
	}

textarea {
	border-radius: 10px;
	}
	
#qh {
	float: left;
	margin-top: 7%;
	margin-right: 3.5%;
	margin-left: 6.2%;
	}
	
fieldset p {
	display: inline;
	}

#name_first {
	margin-left: 24.5%;
	margin-right: 3.4%;
	}
	
#name_last {
	margin-left: 25%;
	margin-right: 3.7%;
	}
	
#address {
	margin-left: 20%;
	margin-right: 3.5%;
	}
	
#cty {
	margin-left: 24.5%;
	margin-right: 3.5%;
	}
	
#st {
	margin-left: 23%;
	margin-right: 3.5%;
	}
	
#zip {
	margin-left: 26.75%;
	margin-right: 3.5%;
	}
	
#cnty {
	margin-left: 21%;
	margin-right: 3.5%;
	}
	
#phonenum {
	margin-left: 19.6%;
	margin-right: 3.5%;
	}

#em {
	margin-left: 20.4%;
	margin-right: 3.5%;
	}	

.submit {
	margin-left: 40%;
	width: 20%;
	height: 30px;
	background-color: #f87;
	border-radius: 15px;
	font-family: 'Eagle Lake', cursive, sans-serif;
	color: #191970;
	font-size: 1em;
	margin-top: 1%;
	}
	
.submit:hover {
	color: #f00;
	}
/*==========================Set up the footer======================================*/

#like {
	display: block;
	height: 30px;
	background-color: rgba(102, 205, 170, .8);
	border-radius: 15px;
	font-family: 'Eagle Lake', cursive, sans-serif;
	color: #191970;
	font-size: 1em;
	float: left;
	margin-top: 4.39453125%; /* 45px /1024px */
	margin-right: 1.953125%; /* 20px / 1024px */
	margin-left: 30.76171875%; /* 315px / 1024px */
	}
	
#like:hover {
	color: #f00;
	}
	
footer img {
	width: 16.428571428571%; /* 230px / 1400px */
	/*margin-top: 1.428571428571%; /* 20px / 1400px */
	/*margin-bottom: 1.428571428571%; /* 20px / 1400px */
	margin: 1.428571428571% /* 20px / 1400px */ auto;
	}
	
/*==========================MEDIA QUERIES==========================================*/
	
/*Screen size 960px to 1023px* new 90% is 920.7*/
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	/*body {background-image: none; background-color: yellow;}*/
	header img {width: 14.229691529046%; /*130/920.7*/ padding-right: 0.543065059194%; /*5/920.7*/ padding-left: 1.086130118388%; /*10/920.7*/}
	header h1 {font-size: 1.9em; margin-left: 8.145975887911%; /*75/920.7*/ margin-right: 8.145975887911%; /*75/920.7*/}
	nav li {margin: 1.629195177582%; /*15/920.7*/}
	nav ul {width: 60%;}
	#service {margin-left:58%;}
	}
	
/*Tablet portrait size to standard 960 (devices & browsers) new 90% is 863.1*/
@media only screen and (min-width: 768px) and (max-width: 959px){
	/*body {background-image: none; background-color: pink;}*/
	header img {width: 12.744757270305%; /*110/863.1*/ padding-right: 0.57930714865%; /*5/863.1*/ padding-left: 1.1586142973%; /*10/863.1*/}
	header h1 {font-size: 1.7em; margin-left: 7.530992932453%; /*65/863.1*/ margin-right: 7.530992932453%; /*65/863.1*/}
	nav li {margin: 1.737921445951%; /*15/863.1*/}
	nav ul {width: 75%;}
	#service {margin-left: 61.5%;}
	#city {margin-left: 0.7%;}
	#state {margin-left: 0.5%;}
	#zipcode, #county {margin-left: 0.7%;}
	}
	
/*Mobile landscape size to tablet portrait size (devices & browsers) new 90% is 690.3000000000001*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*body {background-image: none; background-color: blue;}*/
	#logo-2 {display: none;}
	header h1 {font-size: 1.25em; margin-top: 3.255208333333%; /* 30px / 921.6px */ margin-left: 10.140518615095%; /*70/690.3000000000001*/}
	nav li {font-size: 0.7em; margin-left: 0;/*.724322758221%;/*1.448645516442%; /*10/690.3000000000001*/}
	nav ul {width: 85%;}
	article {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		}
	section li {text-align: left;}
	footer {font-size: .75em; margin-left: auto; margin-right: auto;}
	footer img {display: none;}
	#service {margin-left: 35%;}
	textarea {margin-left: 35%;}
	#address {margin-left: 18%;}
	#st {margin-left: 22.1%;}
	#zipcode {margin-left: 0.6%;}
	#cnty {margin-left: 18.5%;}
	#county {margin-left: 1%;}
	#phonenum {margin-left: 17%;}
	#em {margin-left: 18%;}
	}
	
/*Mobile portrait size to mobile landscape size (devices & browsers)*/
@media only screen and (max-width: 479px) {
	/*body {background-image: none; background-color: black;}*/
	header img {display: none;}
	#images {display: none;}
	header h1 {font-size: 1.5em; text-align: center;}
	nav li {font-size: 0.55em; margin-left: -0.2%;}
	nav ul {width: 70%; margin-left: auto; margin-right: auto;}
	article {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		}
	footer {font-size: .75em; margin-left: auto; margin-right: auto;}
	footer img {display: none;}
	article, section, aside {margin-top: 3.255208333333%; /* 30px / 921.6px*/}
	section li {text-align: left;}
	h2 {text-align: center;}
	#contact label, #service {margin-left: auto; margin-right: auto;}
	}
	